@model List<BasketVM>
@{
    ViewData["Title"] = "ShowItem";

    int count = 0;
}

<div class="container">
    <div class="row">
   @if (Model.Count() > 0)
  {
     
         <table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
       <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
   @foreach (var item in Model)
                {
                    count++;
                    <tr>
      <th scope="row">@count</th>
      <td> <img width="50" src="~/img/@item.ImageUrl " /></td>
      <td>@item.Name</td>
     <td>@item.Price</td>
      <td>@(item.Price * item.ProductCount) </td>
     <td>@item.ProductCount</td>
    </tr>
   }
  
   
  </tbody>
</table>  

  }
  else
        {
            <a asp-controller="home" asp-action="index" > Go to home page  </a>    
        }
    </div>
</div>

